<section id="content">
    <div class="container">
        <div class="row">
        <?php if($this->displaySearch==false) {?>
        <div class="row">
               <?php  echo $this->searchform; ?>
                
       

        </div>
        <?php }
        else{?>
        
            <?php if (count($this->voyages)> 0)  {?>
            <?php foreach ($this->voyages as $k => $v) {?>
                
           
           <div class="col-md-2">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/700x300" alt="">
                </a>
            </div>
            <div class="col-md-10">
                <h2><?php echo $v->prix.' €'; ?></h2>
                <h3><?php echo $v->jour.'/'.$v->mois.'/'.$v->annee; ?></h3>
                <h3>Depart <?php echo $v->depart; ?></h3>
                <h3>Destination <?php echo $v->destination; ?></h3>
                <p> <?php echo $v->texte; ?></p>
                <a class="btn btn-primary" href="#">Contacter l'annonceur <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
            <?php  } ?>
            <?php } else {?>
            <div class="alert alert-danger"> aucun voyage ne correspond à vos critères </div>
            <?php } ?>
       
        <?php } ?>
          </div>
        <!--/.row-->
    </div><!--/.container-->
</section>