<?php
$this->headLink()->appendStylesheet('/inc/public/css/datepicker.css');
$this->headLink()->appendStylesheet('/inc/public/css/timepicker.css');
$this->headLink()->appendStylesheet('/inc/public/assets/pygments.css');
$this->headLink()->appendStylesheet('/inc/public/assets/prettify/prettify.css');
$this->headScript()->appendFile('/inc/public/js/timepicker.js');
$this->headScript()->appendFile('/inc/public/assets/prettify/prettify.js');

$this->headScript()->appendFile('/inc/public/js/datepicker.js');
$this->headScript()->appendFile('/inc/public/js/jquery.maskedinput.min.js');
$this->headScript()->appendFile('/inc/public/js/datepickerinit.js');
$this->headScript()->appendFile('/inc/public/js/inittimepicker.js');
$this->headScript()->appendFile('/inc/public/js/initmask.js');
$this->headScript()->appendFile('/inc/public/js/ajaxfunctions.js');

echo ($this->headLink());
echo ($this->headScript());
?>
<section id="main-content">
    <section class="wrapper">            
        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                        Ajouter un voyage
                    </header>
                    <div class="panel-body">
                        <div class="form">
                            <?php echo $this->voyageform; ?>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section> 
</section>  