<?php
$this->headScript()->appendFile('/inc/public/js/initdatatables.js');
echo ($this->headScript());
?>

<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="col-lg-12">
                <a class="btn btn-primary btn-lg"  href="<?php echo $this->url(array("controller" => "voyages", "action" => "ajouter", "module" => "account")) ?>">Creer un voyage</a>
                <section class="panel">
                    <header class="panel-heading">
                        liste des voyages 
                    </header>
                    <div class="panel-body">
                        
                        <?php if (count($this->volInfos) > 0) { ?>
                            <table id="datatable" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>Depart</th>
                                        <th>Destination</th>
                                        <th>Heure de depart</th>
                                        <th>date </th>
                                        <th>kilo</th>
                                        <th>prix</th>
                                        <th>action</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <?php foreach ($this->volInfos as $k => $v): ?>
                                        <tr>
                                            <td><?php echo $v->depart; ?></td>
                                            <td><?php echo $v->destination; ?></td>
                                            <td><?php echo $v->heure; ?></td>
                                            <td><?php echo $v->jour . '/' . $v->mois . '/' . $v->annee; ?></td>
                                            <td><?php echo $v->kilo; ?></td>
                                            <td><?php echo $v->prix; ?></td>
                                            <td>
                                                <div class="btn-group">
                                                    <a class="btn btn-success" href="<?php echo $this->url(array("controller" => "voyages", "action" => "editer", "module" => "account", "id" => $v->id)) ?>"><i class="icon_pencil-edit_alt"></i></a>
                                                    <a class="btn btn-danger"  href="<?php echo $this->url(array("controller" => "voyages", "action" => "supprimer", "module" => "account", "id" => $v->id)) ?>"><i class="icon_close_alt2"></i></a>
                                                </div>
                                            </td>
                                        </tr>
                                    <?php endforeach ?>

                                </tbody>
                            </table>
                        <?php } else { ?>
                            <div class="alert alert-warning fade in">
                                <button data-dismiss="alert" class="close close-sm" type="button">
                                    <i class="icon-remove"></i>
                                </button>
                                vous n'avez pas encore enregistré de voyages.
                            </div>
                        <?php } ?>
                    </div>

            </div>

        </div>
    </section>
</section>
