<!DOCTYPE html>
<html lang="fr">
    <!--
  <![endif]-->

    <head>
        <meta charset="utf-8">
        <title>Trapshare | Administration</title>
        <meta name="author" content="Fernand Obame Mezui">
        <meta content="width=device-width, initial-scale=1.0, user-scalable=no" name="viewport">
        <meta name="description" content="Administration du site ">
        <script src="/inc/cockpit/js/html5-trunk.js"></script>
        <link href="/inc/cockpit/icomoon/style.css" rel="stylesheet">

        <!-- bootstrap css -->
        <link href="/inc/cockpit/css/main.css" rel="stylesheet">
        <link href="/inc/cockpit/css/fullcalendar.css" rel="stylesheet">
        <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                        m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-40301843-2', 'iamsrinu.com');
            ga('send', 'pageview');

        </script>
    </head>
    <body>
        <header>
            <a href="index.html" class="logo">Black Label Admin</a>
            <div id="mini-nav">
                <ul class="hidden-phone">
                    <li><a href="timeline.html" >Tasks</a></li>
                    <li><a href="#">Signup's <span id="newSignup">06</span></a></li>
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            Messages <span id="messagesCountDown">21</span>
                            <b class="caret icon-white"></b>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li class="quick-messages">
                                <img src="img/avatar-1.png" class="avatar" alt="Avatar">
                                <div class="message-date text-info">
                                    <i>02 <span class="month">mins</span></i>
                                </div>
                                <div class="message-wrapper">
                                    <h4 class="message-heading">Ubiquitous customized</h4>
                                    <p class="message">
                                        Enable impactful niches engage impactful 
                                    </p>
                                </div>
                            </li>
                            <li class="quick-messages">
                                <img src="img/avatar-2.png" class="avatar" alt="Avatar">
                                <div class="message-date text-info">
                                    <i>02 <span class="month">mins</span></i>
                                </div>
                                <div class="message-wrapper">
                                    <h4 class="message-heading">Ubiquitous customized</h4>
                                    <p class="message">
                                        Enable impactful niches engage impactful 
                                    </p>
                                </div>
                            </li>
                            <li class="quick-messages">
                                <img src="img/avatar-5.png" class="avatar" alt="Avatar">
                                <div class="message-date text-info">
                                    <i>38 <span class="month">mins</span></i>
                                </div>
                                <div class="message-wrapper">
                                    <h4 class="message-heading">Ubiquitous customized</h4>
                                    <p class="message">
                                        Enable impactful niches engage impactful 
                                    </p>
                                </div>
                            </li>
                            <li class="quick-messages">
                                <img src="img/avatar-4.png" class="avatar" alt="Avatar">
                                <div class="message-date text-info">
                                    <i>27 <span class="month">Apr</span></i>
                                </div>
                                <div class="message-wrapper">
                                    <h4 class="message-heading">Ubiquitous customized</h4>
                                    <p class="message">
                                        Enable impactful niches engage impactful 
                                    </p>
                                </div>
                            </li>
                            <li class="quick-messages">
                                <img src="img/avatar-6.png" class="avatar" alt="Avatar">
                                <div class="message-date text-info">
                                    <i>18 <span class="month">Apr</span></i>
                                </div>
                                <div class="message-wrapper">
                                    <h4 class="message-heading">Ubiquitous customized</h4>
                                    <p class="message">
                                        Enable impactful niches engage impactful 
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li><a href="login.html">Logout</a></li>
                </ul>
            </div>
        </header>

        <div class="container-fluid">
            <div id="mainnav" class="hidden-phone hidden-tablet">
                <ul>
                    <li class="active">
                        <span class="current-arrow"></span>
                        <a href="index.html">
                            <div class="icon">
                                <span class="fs1" aria-hidden="true" data-icon="&#xe0a1;"></span>
                            </div>
                            Dashboard
                        </a>
                    </li>
                    <li>
                        <a href="charts.html">
                            <div class="icon">
                                <span class="fs1" aria-hidden="true" data-icon="&#xe097;"></span>
                            </div>
                            Charts
                        </a>
                    </li>
                    <li>
                        <a href="timeline.html">
                            <div class="icon">
                                <span class="fs1" aria-hidden="true" data-icon="&#xe047;"></span>
                            </div>
                            Timeline
                        </a>
                    </li>
                    <li>
                        <a href="tables.html">
                            <div class="icon">
                                <span class="fs1" aria-hidden="true" data-icon="&#xe14a;"></span>
                            </div>
                            Tables
                        </a>
                    </li>
                    <li>
                        <a href="forms.html">
                            <div class="icon">
                                <span class="fs1" aria-hidden="true" data-icon="&#xe0b8;"></span>
                            </div>
                            Forms
                        </a>
                    </li>
                    <li>
                        <a href="ui-elements.html">
                            <div class="icon">
                                <span class="fs1" aria-hidden="true" data-icon="&#xe0d2;"></span>
                            </div>
                            UI Elements
                        </a>
                    </li>
                    <li>
                        <a href="grid.html">
                            <div class="icon">
                                <span class="fs1" aria-hidden="true" data-icon="&#xe14c;"></span>
                            </div>
                            Grid
                        </a>
                    </li>
                    <li>
                        <a href="gallery.html">
                            <div class="icon">
                                <span class="fs1" aria-hidden="true" data-icon="&#xe00d;"></span>
                            </div>
                            Gallery
                        </a>
                    </li>
                    <li>
                        <a href="typography.html">
                            <div class="icon">
                                <span class="fs1" aria-hidden="true" data-icon="&#xe100;"></span>
                            </div>
                            Typography
                        </a>
                    </li>
                    <li>
                        <a href="icons.html">
                            <div class="icon">
                                <span class="fs1" aria-hidden="true" data-icon="&#xe0a9;"></span>
                            </div>
                            Icons
                        </a>
                    </li>
                    <li>
                        <a href="error.html">
                            <div class="icon">
                                <span class="fs1" aria-hidden="true" data-icon="&#xe0f4;"></span>
                            </div>
                            404
                        </a>
                    </li>
                    <li>
                        <a href="login.html">
                            <div class="icon">
                                <span class="fs1" aria-hidden="true" data-icon="&#xe088;"></span>
                            </div>
                            Login
                        </a>
                    </li>
                </ul>
            </div>

            <div class="dashboard-wrapper">
                <div class="main-container">
                   <?php echo $this->layout()->content; ?>

                </div>
            </div><!-- dashboard-container -->
        </div><!-- container-fluid -->
        <footer>
            <p class="copyright">&copy; Trapshare Administration powered by fernand obame mezui company</p>
        </footer>

        <script src="/inc/cockpit/js/jquery.min.js"></script>
        <script src="/inc/cockpit/js/bootstrap.js"></script>
        <script src="/inc/cockpit/js/jquery-ui-1.8.23.custom.min.js"></script>

        <!-- morris charts -->
        <script src="/inc/cockpit/js/morris/morris.js"></script>
        <script src="/inc/cockpit/js/morris/raphael-min.js"></script>

        <!-- Flot charts -->
        <script src="/inc/cockpit/js/flot/jquery.flot.js"></script>
        <script src="/inc/cockpit/js/flot/jquery.flot.resize.min.js"></script>

        <!-- Calendar Js -->
        <script src="/inc/cockpit/js/fullcalendar.js"></script>

        <!-- Tiny Scrollbar JS -->
        <script src="/inc/cockpit/js/tiny-scrollbar.js"></script>

        <!-- custom Js -->
        <script src="/inc/cockpit/js/custom-index.js"></script>
        <script src="/inc/cockpit/js/custom.js"></script>

    </body>
</html>