<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Connection</title>

        <!-- core CSS -->
        <link href="/inc/public/css/bootstrap.min.css" rel="stylesheet">
        <link href="/inc/public/css/font-awesome.min.css" rel="stylesheet">
        <link href="/inc/public/css/animate.min.css" rel="stylesheet">
        <link href="/inc/public/css/prettyPhoto.css" rel="stylesheet">
        <link href="/inc/public/css/main.css" rel="stylesheet">
        <link href="/inc/public/css/responsive.css" rel="stylesheet">
        <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
        <![endif]-->       
        <link rel="shortcut icon" href="images/ico/favicon.ico">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/inc/public/images/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/inc/public/images/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/inc/public/images/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="/inc/public/images/ico/apple-touch-icon-57-precomposed.png">
    </head><!--/head-->

    <body class="homepage">

        <?php echo $this->layout()->content; ?>  

        <script src="/inc/public/js/jquery.js"></script>
        <script src="/inc/public/js/bootstrap.min.js"></script>
        <script src="/inc/public/js/jquery.isotope.min.js"></script>
        <script src="/inc/public/js/main.js"></script>
        <script src="/inc/public/js/wow.min.js"></script>
    </body>

</html>



