<section id="contact-page">
    <div class="container">
        <div class="center">        
            <h2>Inscription</h2>
        </div> 
        <div class="row contact-wrap"> 
            <div class="col-md-6 col-md-offset-3">
                <?php echo $this->inscriptionForm ?>
            </div>


        </div><!--/.row-->
    </div><!--/.container-->
</section>