<!--main content start-->
<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header"><i class="fa fa-user-md"></i> Profil </h3>
            </div>
        </div>
        <div class="row">
            <!-- profile-widget -->
            <div class="col-lg-12">
                <div class="profile-widget profile-widget-info">
                    <div class="panel-body">
                        <div class="col-lg-2 col-sm-2">
                            <h4><?php echo $this->oUtilisateur["prenom"] ." ".$this->oUtilisateur["nom"]; ?></h4>               
                            <div class="follow-ava">
                                <?php
                                if ($this->oUtilisateur["picture"] == null) {
                                    echo '<img src="/inc/account/images/profil/imageprofil.png">';
                                } else {
                                    echo '<img src="/inc/account/images/profil/'.$this->oUtilisateur["pseudo"]."/".$this->oUtilisateur["picture"].'" alt="">';
                                }
                                ?>


                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-4 follow-info">
                            <h5> <p><i class="fa fa-user"> <?php echo $this->oUtilisateur["pseudo"]; ?></i></p></h5>
                            <h5><p><i class="fa fa-mobile"> <?php echo $this->oUtilisateur["mobile"]; ?></i></p></h5>
                            <h5><p><i class="fa fa-phone"> <?php echo $this->oUtilisateur["fixe"]; ?></i></p></h5>
                            <h5><p><i class="fa fa-envelope-o"> <?php echo $this->oUtilisateur["email"]; ?></i></p></h5>
                            <h5><p><i class="fa fa-location-arrow"> <?php echo $this->oUtilisateur["adresse1"] . " " . $this->oUtilisateur["adresse2"]; ?></i></p></h5>
                            <h5> <p><i class="fa fa-paper-plane-o"> <?php echo $this->oUtilisateur["bp"]; ?></i></p></h5>
                            <h5>
                                <span><i class="icon_pin_alt"></i><?php echo $this->oUtilisateur["ville"]; ?></span>
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading tab-bg-info">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a data-toggle="tab" href="#edit-profile">
                                    <i class="icon-home"></i>
                                    Edition du Profil
                                </a>
                            </li>
                        </ul>
                    </header>
                    <div class="panel-body">
                        <div class="tab-content">                   
                            <!-- edit-profile -->
                            <div id="edit-profile" class="tab-pane active">
                                <section class="panel">                                          
                                    <div class="panel-body bio-graph-info">
                                        <h1> Profile Info</h1>
                                       <?php echo $this->formEdition; ?>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>

    </section>
</section>